<main class="flex gap-4 p-5 h-screen items-center justify-between w-full font-Poppins">

    <section class="w-1/2 bg-yellow-100 h-full flex  items-center">
        <div class="flex justify-center w-full text-4xl" >
            ESTRUCTURA MEDIA
        </div>
    </section>
    <aside class="w-1/2 bg-blue-400 h-full flex  items-center">
        <div class="flex justify-center w-full text-4xl">
            <button routerLink="/web" class="bg-red-500 hover:bg-red-700 text-white rounded-lg focus:outline-none px-7 py-2">INGRESAR</button>
        </div>
    </aside>

</main>