.contnavadmin {
    @apply bg-red-200 p-4 flex items-center w-full justify-between ;
  }

  .btnnavadmin{
    @apply bg-red-500 hover:bg-red-800 focus:outline-none text-white rounded-md px-5 py-2
  }

  .btnweb{
    @apply bg-blue-500 text-white hover:bg-blue-700 rounded-md focus:outline-none px-6 py-2
  }