<header class="w-full font-Poppins">
    <div class="w-full">
        <img src="assets/img/web/inicio/o.png" alt="">
    </div>
    <div class="flex w-full h-[28vh] ">
        <span class="text-4xl font-semibold flex justify-end">PAGINA NOSOTROS WEB</span>
    </div>
</header>