.contnavweb {
    @apply bg-blue-200 p-4 flex items-center w-full justify-between ;
  }

.contleft{
  @apply flex items-center gap-2 justify-start w-full
}

.conterigth{
  @apply flex items-center justify-end w-full
}

.contlogo{
    @apply object-contain;
}

.contbotones{
  @apply flex gap-4 items-center 
}

.btnnavweb{
   @apply bg-blue-500 hover:bg-blue-800 focus:outline-none text-white rounded-md px-5 py-2
}

.btnadmin{
  @apply bg-red-500 text-white hover:bg-red-700 rounded-md focus:outline-none px-6 py-2
}