<nav class="contnavadmin  ">
    <div class="contleft w-10/12 ">
        <button [routerLink]="['/admin']" class="contlogo w-1/12">
            <img class="w-20 object-contain" src="assets/img/admin/navbar/admin.png" alt="">
        </button>
        <div class="contbotones w-11/12">
            <button [routerLink]="['inicioadmin']" class="btnnavadmin">Inicio</button>
            <button [routerLink]="['reportes']"  class="btnnavadmin">Reportes</button>
            <button [routerLink]="['ventas']" class="btnnavadmin">Ventas</button>
        </div>
    </div>
    <div class="conterigth w-2/12">
        <button [routerLink]="['/web']" class="btnweb">WEB</button>
    </div>
    
</nav>