<nav class="contnavweb ">
    <div class="contleft w-10/12 ">
        <button [routerLink]="['inicioweb']" class="contlogo w-1/12">
            <img class="w-20 object-contain" src="assets/img/web/navbar/web.png" alt="">
        </button>
        <div class="contbotones w-11/12">
            <button [routerLink]="['inicioweb']" class="btnnavweb">Inicio</button>
            <button [routerLink]="['nosotros']"  class="btnnavweb">Nosotros</button>
            <button [routerLink]="['contactos']" class="btnnavweb">Contactos</button>
        </div>
    </div>
    <div class="conterigth w-2/12">
        <button [routerLink]="['/admin']" class="btnadmin">ADMINISTRADOR</button>
    </div>
    
</nav>