<header class="w-full font-Poppins">
    <div class="w-full p-20">
        <img class="w-full h-96 object-contain" src="assets/img/admin/inicio/banner.png" alt="">
    </div>
    <div class="flex w-full h-[28vh] ">
        <span class="text-4xl font-semibold flex justify-end">PAGINA VENTAS ADMIN</span>
    </div>
</header>